<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Handschriftenportal</title>
  <% metatags.forEach(function(metatag, i, arr){ -%>
    <meta <%= metatag.key %>="<%= metatag.value %>" content="<%= metatag.content %>" />
  <% }); -%>
  <meta name="twitter:site" content="@hsprtl" />
  <meta name="twitter:card" content="summary_large_image" />

</head>
<body>
  <div id="app"></div>
  <script src="/hsp-fo-home.js?v=<%= version %>"></script>
  <script src="/hsp-fo-search.js?v=<%= version %>"></script>
  <script src="/hsp-fo-workspace.js?v=<%= version %>"></script>
  <script src="/hsp-fo-cms.js?v=<%= version %>"></script>
  <script src="/hsp-fo-projects.js?v=<%= version %>"></script>
</body>
</html>